.post-detail {
  background-color: #fff;
  border-bottom: 1px solid #e3e3e3;
  transition: background-color 0.7s ease-out;
  padding: 1rem;
  cursor: pointer;
}

.post-detail .post-detail__header {
  display: flex;
}

.post-detail .post-detail__header img {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}

.post-detail .post-detail__header .post-detail__header-name {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.post-detail .post-detail__content {
  margin-top: 1rem;
}

.post-detail .post-detail__content .post__message {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.post-detail .post-detail__content .post-detail__action-buttons {
  margin-top: 0.4rem;
  display: flex;
  justify-content: space-between;
}
