.post {
  display: flex;
  background-color: #fff;
  border-bottom: 1px solid #e3e3e3;
  transition: background-color 0.7s ease-out;
  cursor: pointer;
  padding: 1rem;
}

.post:hover {
  background-color: #eee;
}

.post .post__profile img {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}

.post .post__content {
  margin-left: 1rem;
}

.post .post__content .post__content-header {
  display: flex;
}

.post .post__content .post__content-header h4,
.post .post__content .post__content-header span {
  margin-right: 0.4rem;
}

.post .post__content .post__action-buttons {
  margin-top: 0.4rem;
  display: flex;
  justify-content: space-between;
}

.post .post__content .post__action-buttons i:hover {
  text-decoration: underline;
}
